<head>
  <meta charset="utf-8">
  <title><%= title %> | Autumn Bullard</title>
  <link rel="icon" href="https://dl.dropbox.com/s/po6r9zfhsjszd49/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Armata">
  <link rel="stylesheet" href="style.css">
</head>
