<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <main class="page-not-found-message">
      <h1>404: Page not found</h1>
      <a href="/" target="_self">Back to Home</a>
    </main>
    <%- include ('./partials/footer') -%>
  </body>
</html>
