<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <div id="app"></div>
    <%- include ('./partials/footer') -%>
    <script src="/bundle.js"></script>
    <noscript>
      <p class="message info-message"><span class="fa fa-info-circle fa-lg fa-fw"></span> This site uses JavaScript. Please enable JavaScript in your browser.</p>
    </noscript>
  </body>
</html>
