<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Autumn Bullard - Portfolio</title>
    <link rel="icon" href="src/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Armata">
    <link rel="stylesheet" href="public/style.css">
  </head>

  <body>
    <div id="app"></div>
    <script src="public/bundle.js"></script>
  </body>
</html>
