@font-face {
  font-family: Esphimere;
  src: url(.././fonts/Esphimere.otf);
}

$heading-font: Armata, Esphimere, sans-serif;

$blue: #006f8e;
$white: #fff;
$gray: #f2f2f2;
$box-shadow: #999;
$linkedin: #0077b5;
$github: #333;

$tablet-view: 768px;
$desktop-view: 992px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  body {
    background-color: $gray;
    letter-spacing: 1px;
    min-height: 100%;
    padding-bottom: 30px;
    position: relative;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $blue;
    }
    .navbar {
      background-color: $white;
      border: none;
      font-family: $heading-font;
      letter-spacing: 8px;
      text-transform: uppercase;
      .container {
        padding: 0 15px;
        width: 100%;
        a,
        a:visited,
        a:active,
        a:focus {
          border-bottom: 2px solid $white;
          color: $blue;
          font-size: 1.4rem;
          padding-right: 8px;
          h1 {
            font-size: 1em;
            margin: 3px 3px 1px;
          }
          &:hover {
            border-bottom: 2px solid $blue;
          }
        }
        .navbar-toggle,
        .navbar-toggle:hover,
        .navbar-toggle:active,
        .navbar-toggle:focus {
          background: transparent;
          border: none;
          color: $blue;
          padding: 0;
          .material-icons {
            font-size: 2.2em;
          }
        }
      }
    }
    main {
      margin-top: 40px;
      .alert {
        margin: auto;
        max-width: 1000px;
      }
      section {
        padding: 60px 10px 370px; // change the padding when you add the contact form
        line-height: 20px;
        h2 {
          color: $blue;
          font-family: $heading-font;
          font-weight: 800;
          letter-spacing: 6px;
          line-height: 40px;
          text-align: center;
          margin-bottom: 48px;
          text-transform: lowercase;
        }
        h3 {
          font-family: $heading-font;
          font-size: 1.1em;
          font-weight: 800;
          line-height: 22px;
          text-transform: uppercase;
        }
        h4 {
          font-family: $heading-font;
          font-size: 1.1em;
          font-weight: 800;
        }
        &:first-child {
          max-width: 1000px;
          #avatar {
            box-shadow: 1px 1px 10px $box-shadow;
            margin-bottom: 20px;
            width: 200px;
          }
          ul {
            margin-bottom: 40px;
            li #linkedin-icon:hover {
              color: $linkedin;
            }
            li #github-icon:hover {
              color: $github;
            }
          }
        }
        &:nth-child(2) {
          max-width: 1200px;
          .well {
            background-color: $white;
            border: none;
            border-radius: 0;
            height: 100%;
            @media only screen and (min-width: $tablet-view) {
              height: 400px;
            }
            @media only screen and (min-width: $desktop-view) {
              height: 420px;
            }
            .icon {
              color: $blue;
              font-size: 6em;
              margin: 30px 0;
            }
            p {
              margin-bottom: 20px;
            }
            .table {
              max-width: 300px;
            }
          }
          #error {
            display: none;
          }
        }
      }
    }
    footer {
      background-color: $white;
      bottom: 0;
      font-size: 1.2rem;
      left: 0;
      letter-spacing: 2px;
      margin: 0;
      padding: 12px 0;
      position: absolute;
      right: 0;
      text-align: center;
      width: 100%;
    }
  }
}
