@font-face {
  font-family: Esphimere;
  src: url(.././assets/fonts/Esphimere.otf);
}

@import "variables";

// BASE PAGE STYLES

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: transparent;
  height: 100%;
  letter-spacing: 1px;
  body {
    background: change-color($black, $lightness: 90%);
    background: -o-linear-gradient(left, change-color($black, $lightness: 90%), change-color($black, $lightness: 95%)) fixed;
    background: -webkit-gradient(linear, left top, right top, from(change-color($black, $lightness: 90%)), to(change-color($black, $lightness: 95%))) fixed;
    background: linear-gradient(to right, change-color($black, $lightness: 90%), change-color($black, $lightness: 95%)) fixed;
    color: change-color($black, $lightness: 20%);
    min-height: 100%;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    padding: 0 20px;
    position: relative;
    header {
      background: change-color($black, $lightness: 100%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    main {
      padding-bottom: 6rem;
    }
    footer {
      background: change-color($black, $lightness: 100%);
      bottom: 0;
      font-size: 0.8rem;
      left: 0;
      letter-spacing: 2px;
      padding: 14px 0;
      position: absolute;
      right: 0;
      text-align: center;
      width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
    }
    h1 {
      font-family: $heading-font;
      a,
      a:visited,
      a:hover,
      a:active,
      a:focus {
        color: change-color($black, $lightness: 20%);
        &:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
          color: $blue;
        }
      }
    }
    h2 {
      color: $blue;
      font-family: $heading-font;
      font-size: 1.8rem;
      letter-spacing: 6px;
      text-align: center;
      text-transform: lowercase;
    }
    h3 {
      font-family: $heading-font;
      font-size: 1.1rem;
      line-height: 1.33;
      text-transform: uppercase;
    }
    h4 {
      font-family: $heading-font;
      margin-bottom: 8px;
    }
  }
}

section {
  min-height: 100vh;
  padding-top: 80px;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  -webkit-box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

p,
li {
  line-height: 1.45;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px solid change-color($black, $lightness: 60%);
}

.material-icons {
  vertical-align: middle;
}

.page-not-found-message {
  padding-top: 35px;
  line-height: 1.35;
  text-align: center;
}

// Message styles
.message {
  border-radius: 5px;
  line-height: 1.55;
  margin: 20px auto;
  max-width: 800px;
  padding: 15px 10px;
  text-align: center;
}

.info-message {
  background: change-color($info-blue, $lightness: 95%);
  border: 1px solid change-color($info-blue, $lightness: 90%);
  color: $info-blue;
}

noscript .info-message {
  left: 50%;
  margin: 0 auto;
  min-width: 280px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@import "main";