@font-face {
  font-family: Esphimere;
  src: url(.././fonts/Esphimere.otf);
}

@import "variables";

// BASE PAGE STYLES

html {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: change-color($black, $lightness: 20%);
  height: 100%;
  letter-spacing: 1px;
  body {
    background: change-color($black, $lightness: 90%);
    background: -webkit-gradient(linear, left top, right top, from(change-color($black, $lightness: 90%)), to(change-color($black, $lightness: 95%))) fixed;
    background: -o-linear-gradient(left, change-color($black, $lightness: 90%), change-color($black, $lightness: 95%)) fixed;
    background: linear-gradient(to right, change-color($black, $lightness: 90%), change-color($black, $lightness: 95%)) fixed;
    min-height: 100%;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    padding: 0 20px;
    position: relative;
    header {
      background: change-color($black, $lightness: 100%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    main {
      padding-bottom: 6rem;
      section {
        min-height: 100vh;
        padding-top: 80px;
      }
    }
    footer {
      background: change-color($black, $lightness: 100%);
      bottom: 0;
      font-size: 0.8rem;
      left: 0;
      letter-spacing: 2px;
      padding: 14px 0;
      position: absolute;
      right: 0;
      text-align: center;
      width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 0;
    }
  }
}

// BASE ELEMENT STYLES

div,
header,
main,
footer,
nav,
section,
p,
img,
ul,
li,
hr,
button,
button:hover,
button:active,
button:focus {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

p,
li {
  line-height: 1.45;
}

hr {
  border: 0;
  border-bottom: 1px solid change-color($black, $lightness: 60%);
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  -webkit-box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  line-height: normal;
  padding: 0;
  width: auto;
  &:hover {
    text-decoration: none;
  }
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.material-icons {
  vertical-align: middle;
}

.message {
  border-radius: 5px;
  line-height: 1.55;
  margin: 20px auto;
  max-width: 800px;
  padding: 15px 10px;
  text-align: center;
}

// SPECIFIC ELEMENT STYLES

h1 {
  font-family: $heading-font;
  a,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: change-color($black, $lightness: 20%);
    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      color: $blue;
    }
  }
}

h2 {
  color: $blue;
  font-family: $heading-font;
  font-size: 1.8rem;
  letter-spacing: 6px;
  text-align: center;
  text-transform: lowercase;
}

h3 {
  font-family: $heading-font;
  font-size: 1.1rem;
  line-height: 1.33;
  text-transform: uppercase;
}

h4 {
  font-family: $heading-font;
  margin-bottom: 8px;
}

.header-item {
  font-family: $heading-font;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 8px;
  line-height: normal;
  margin: 0;
  text-transform: uppercase;
  a,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    cursor: pointer;
    display: block;
    padding: 15px;
    padding-right: 7px;
    text-decoration: none;
  }
}

.nav-menu {
  .menu-toggle,
  .menu-toggle:hover,
  .menu-toggle:active,
  .menu-toggle:focus {
    color: $blue;
    position: absolute;
    right: 10px;
    top: 10px;
    &:focus {
      background: change-color($black, $lightness: 90%);
      border-radius: 5px;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .menu-toggle-icon {
      font-size: 1.8rem;
    }
  }
  .nav-links.hidden {
    display: none;
  }
  .nav-links.visible {
    background: change-color($black, $lightness: 100%);
    display: block;
    left: 0;
    position: absolute;
    top: 45px;
    width: 100%;
    a:hover,
    a:focus {
      background: $blue;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: change-color($black, $lightness: 100%);
    }
  }
  @media all and (min-width: 760px) {
    .menu-toggle,
    .menu-toggle:hover,
    .menu-toggle:active,
    .menu-toggle:focus {
      display: none;
    }
    .nav-links.hidden,
    .nav-links.visible {
      background: transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      left: auto;
      position: static;
      top: auto;
      width: auto;
      a:hover,
      a:focus {
        background: transparent;
        border-bottom: 2px solid $blue;
        color: $blue;
      }
    }
  }
}

.about .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90%;
  grid-template-columns: 90%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1000px;
  @media all and (min-width: 760px) {
    -ms-grid-columns: 30% 60%;
    grid-template-columns: 30% 60%;
  }
  .col:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    .avatar {
      border-radius: 50%;
      -webkit-box-shadow: 1px 1px 10px change-color($black, $lightness: 60%);
      box-shadow: 1px 1px 10px change-color($black, $lightness: 60%);
      max-width: 200px;
      width: 100%;
    }
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      margin: 10px 0;
    }
    .linkedin-icon:hover {
      color: $linkedin;
    }
    .github-icon:hover {
      color: $github;
    }
  }
  .skills {
    margin-top: 15px;
    .skill-group {
      margin-top: 15px;
      h4 {
        color: $blue;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline;
          font-size: 0.9rem;
          &:after {
            content: ' \2022 ';
          }
          &:last-child:after {
            content: none;
          }
        }
      }
    }
  }
}

.portfolio .content .projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 90%;
  grid-template-columns: 90%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  @media all and (min-width: 720px) {
    -ms-grid-columns: 45% 30px 45%;
    grid-template-columns: 45% 45%;
  }
  @media all and (min-width: 1050px) {
    -ms-grid-columns: 30% 30px 30% 30px 30%;
    grid-template-columns: 30% 30% 30%;
  }
  .card {
    background: change-color($black, $lightness: 100%);
    -webkit-box-shadow: 1px 1px 20px change-color($black, $lightness: 80%);
    box-shadow: 1px 1px 20px change-color($black, $lightness: 80%);
    padding: 20px;
    h3 {
      text-align: center;
    }
    .project-icon {
      color: $blue;
      font-size: 4.5rem;
      text-align: center;
    }
    p {
      font-size: 0.9rem;
    }
    hr {
      border-bottom: 1px solid change-color($black, $lightness: 80%);
    }
    .project-links {
      margin-top: 15px;
      .framework {
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        .project-link-icon {
          vertical-align: middle;
        }
        .project-link {
          line-height: 1.4;
          a,
          a:visited,
          a:hover,
          a:active,
          a:focus {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.contact .content {
  margin: 0 auto;
  max-width: 300px;
  a,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    font-weight: 600;
  }
  .email {
    margin-bottom: 40px;
  }
  .social-link,
  .social-link:visited,
  .social-link:hover,
  .social-link:active,
  .social-link:focus {
    border-radius: 3px;
    color: change-color($black, $lightness: 100%);
    display: block;
    margin-bottom: 14px;
    padding: 12px;
    text-decoration: none;
    width: 200px;
    &:hover {
      -webkit-box-shadow: 1px 1px 6px change-color($black, $lightness: 60%);
      box-shadow: 1px 1px 6px change-color($black, $lightness: 60%);
    }
  }
  .linkedin-profile {
    background: $linkedin;
  }
  .github-profile {
    background: $github;
  }
}

.loading-spinner {
  -webkit-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;
  border: 4px solid $blue;
  border-top: 4px solid transparent;
  border-radius: 50%;
  height: 30px;
  margin: 50px auto;
  width: 30px;
}

.error-message {
  background: change-color($error-red, $lightness: 95%);
  border: 1px solid change-color($error-red, $lightness: 90%);
  color: $error-red;
}

.info-message {
  background: change-color($info-blue, $lightness: 95%);
  border: 1px solid change-color($info-blue, $lightness: 90%);
  color: $info-blue;
}

noscript .info-message {
  left: 50%;
  margin: 0 auto;
  min-width: 280px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page-not-found-message {
  padding-top: 35px;
  line-height: 1.35;
  text-align: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
