$black: hsl(0, 0%, 0%);
$blue: #006f8e;
$error-red: hsl(349, 96%, 26%);
$info-blue: hsl(204, 100%, 26%);
$linkedin: #0077b5;
$github: #333;
$main-font: Helvetica, Arial, sans-serif;
$heading-font: Armata, Esphimere, Helvetica, Arial, sans-serif;
