$blue: #006f8e;
$white: #fff;
$gray: #e6e6e6;
$dark-gray: #333;
$linkedin: #0077b5;
$github: #333;
$main-font: Helvetica, Arial, sans-serif;
$heading-font: Armata, Esphimere, Helvetica, Arial, sans-serif;
